# Copier ce fichier en .env et remplir les valeurs

SECRET_KEY=changez-cette-clé-en-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL
DB_NAME=amn_hub_db
DB_USER=amn_hub_user
DB_PASSWORD=votre_mot_de_passe
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_URL=redis://localhost:6379/0

# Email
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=9f4b2a001@smtp-brevo.com
EMAIL_PASSWORD=K7VXJCdE8cx3rDmY
DEFAULT_FROM_EMAIL=sasukenozel@gmail.com
ADMIN_EMAILS=siddick369@gmail.com,securite@infracontrol.com

FRONTEND_URL=http://localhost:8000
